<div class="p-3">

  <h1> 
    <span><a class="btn btn-secondary" role="button" data-toggle="collapse" href="#options">Options</a></span>
    Report
  </h1>

  <div class="alert alert-warning cursor-pointer" (click)="reload()" *ngIf="needReload">
  New analytics configuration received. Click here to reload.</div>

  <div class="text-center mt-5" *ngIf="analyticsDataFacade.isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div id="options" class="collapse show bg-light text-white border border-dark rounded p-3" 
    *ngIf="!analyticsDataFacade.isLoading && (analyticsDataFacade.settings$ | async) as settings">

    <!-- settings -->
    <div>
      
      <options-selector 
        [name]="'Sensors'" 
        [selected]="settings.sensorsSelected" 
        [options]="settings.sensors"
        [multiselect]="true" 
        (select)="analyticsDataFacade.meta['sensors'].updateSelections($event)"></options-selector>

      <options-selector 
        [name]="'Metrics'" 
        [options]="settings.metrics" 
        [selected]="settings.metricsSelected"
        [multiselect]="true" 
        (select)="analyticsDataFacade.meta['metrics'].updateSelections($event)"></options-selector>

      <options-selector 
        [name]="'Grouping'" 
        [options]="settings.groupNames" 
        [selected]="settings.groupNameSelected"
        [multiselect]="false" 
        (select)="analyticsDataFacade.meta['groupNames'].updateSelections($event)"></options-selector>    

    <!-- debug -->
    <h1 class="mt-5"><a class="btn btn-secondary" #settingsBtn (click)="settingsBtn.showSettings = !settingsBtn.showSettings">Debug Settings</a></h1>
    <table *ngIf="settingsBtn.showSettings" class="table table-sm" id="settings">
      <tr *ngFor="let item of settings | keyvalue">
        <td>{{item.key}}</td>
        <td>
          <!-- <span class="btn btn-outline-dark mr-1 mb-1" *ngFor="let s of getViewValues(item.value)">{{s}}</span> -->
          <code class="mr-1 mb-1" *ngFor="let s of getViewValues(item.value)">{{s}} | </code>
        </td>
      </tr>
    </table>

    </div>
    <!-- end: settings -->

  </div>

  <div *ngIf="(groupsAndSettings | async) as data">
      <div class="mt-5">
        <h2><span class="badge badge-dark">ParentName</span></h2>
        <materialized-sensor [data]="data[0]" [metricsEnabled]="data[1].metricsSelected"></materialized-sensor>
      </div>
  </div>
</div>