<div class="p-3">
  <h1> 
    <span><a class="btn btn-secondary" role="button" data-toggle="collapse" href="#options">Options</a></span>
    Report
  </h1>

  <div class="alert alert-warning cursor-pointer" (click)="reload()" *ngIf="needReload">
  New analytics configuration received. Click here to reload.</div>

  <div class="text-center mt-5" *ngIf="analyticsDataFacade.isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div id="options" class="collapse show bg-light text-white border border-dark rounded p-3" 
    *ngIf="(analyticsDataFacade.settingsNew | async) as settings">

    <!-- settings -->
    <div>
      
      <options-selector 
        [name]="'Sensors'" 
        [options]="settings.sensorNames"
        [selected]="settings.sensorSelected" 
        [multiselect]="false" 
        (select)="analyticsDataFacade.updateSelection('sensor', $event)"></options-selector>

      <options-selector 
        [name]="'Metrics'" 
        [options]="settings.metricNames" 
        [selected]="settings.metricsSelected"
        [multiselect]="true" 
        (select)="analyticsDataFacade.updateSelection('metrics', $event)"></options-selector>

      <options-selector 
        [name]="'Grouping'" 
        [options]="settings.groupNames" 
        [selected]="settings.groupSelected"
        [multiselect]="false" 
        (select)="analyticsDataFacade.updateSelection('group', $event)"></options-selector>    

    <!-- debug -->
    <!-- <h1 class="mt-5"><a class="btn btn-secondary" #settingsBtn (click)="settingsBtn.showSettings = !settingsBtn.showSettings">Debug Settings</a></h1>
    <table *ngIf="settingsBtn.showSettings" class="table table-sm" id="settings">
      <tr *ngFor="let item of settings | keyvalue">
        <td>{{item.key}}</td>
        <td>
          <code class="mr-1 mb-1" *ngFor="let s of getViewValues(item.value)">{{s}} | </code>
        </td>
      </tr>
    </table> -->

    </div>
    <!-- end: settings -->
  </div>

  <div *ngIf="(analyticsDataFacade.filterSettings | async) as filters">
    <h2 class="mt-3"><i class="fas fa-filter"></i><span class="badge badge-light">Group Filters</span></h2>
    <div *ngFor="let filter of filters">
      <options-selector 
        [name]="filter.name" 
        [options]="filter.partitionNames"
        [optionValues]="filter.partitionIds"
        [selected]="filter.selected"
        [multiselect]="true"
        (select)="updateFilter(filter.id, $event)"
        ></options-selector>
    </div>
  </div>

  <div *ngIf="(analyticsDataFacade.viewData | async) as sdata">
    <div *ngIf="sdata.metricsWithoutAggregators" class="alert alert-warning mt-5">
      Note: Following metrics do not have aggregation functions and can not be aggregated and WebUI: 
      {{sdata.metricsWithoutAggregators.join(", ")}}
    </div>
  </div>


  <div *ngIf="(groupsAndSettings | async) as data">
      <div class="mt-5">
        <materialized-sensor [data]="data[0]" [metricsEnabled]="data[1]"></materialized-sensor>
      </div>

    <div *ngIf="(analyticsDataFacade.viewData | async) as sensor">
      <sensor-graph [sensor]="sensor"></sensor-graph>
    </div>
  </div>

  
</div>