<div class="container">
  <h1>Main</h1>
  <div *ngIf="data">
    <h2 class="mt-4">Sensors</h2>
    <div class="row">
      <button type="button" 
      (click)="toggleButton('sensors', s, !disabledOptions['sensors'][s])" 
      class="btn mr-2" 
      [ngClass]="!disabledOptions['sensors'][s] ? 'btn-primary' : 'btn-outline-primary'"
      *ngFor="let s of data.meta.sensors">{{s}}</button>
    </div>

    <h2 class="mt-4">Metrics</h2>
    <div class="row">
      <button type="button" 
      (click)="toggleButton('metrics', m, !disabledOptions['metrics'][m])" 
      class="btn mr-2" 
      [ngClass]="!disabledOptions['metrics'][m] ? 'btn-primary' : 'btn-outline-primary'"
      *ngFor="let m of data.meta.metrics">{{m}}</button>
    </div>

    <h2 class="mt-4">Partitioner</h2>
    <div class="row">
      <button type="button" 
      (click)="toggleButton('metrics', p, !disabledOptions['metrics'][p])" 
      class="btn mr-2" 
      [ngClass]="!disabledOptions['metrics'][p] ? 'btn-primary' : 'btn-outline-primary'"
      *ngFor="let p of data.meta.groupers">{{p}}</button>
    </div>

  </div>
  
  <!-- only necessary for implementation multiple routes -->
  <router-outlet></router-outlet>
</div>