<div class="pl-3 p3-3">

  <h1>Report</h1>

  <div *ngIf="(settingsObs | async) as settings">
    <h1><a class="btn btn-secondary" role="button" data-toggle="collapse" href="#options">Options</a></h1>
    <div id="options" class="collapse show">
      <multi-options-selector 
        [name]="'Sensors'" 
        [defaultSelection]="[]"
        [options]="multiOptionsSensors"
        (select)="sensorsSelected($event)"></multi-options-selector>

      <multi-options-selector 
        [name]="'Metrics'" 
        [defaultSelection]="[]"
        [options]="multiOptionsMetrics"
        (select)="metricsSelected($event)"></multi-options-selector>

      <h2 class="mt-4">Paging</h2>
      <div class="text-center">
        <div class="form-group col-lg-3">
          <label for="formControlRange">groups per page ({{maxGroupInitValue}})</label>
          <input type="range" [(ngModel)]="maxGroupInitValue" (change)="updateSettings('pageLimit', $event.target.value)" min="1" max="50" class="form-control-range" id="formControlRange">
        </div>
      </div>

        <div class="text-center">
          <button class="btn mr-1" 
                *ngFor="let pageNumber of settings.pages"
                (click)="updateSettings('page', pageNumber)"
                [class.btn-primary]="settings.pageActive == pageNumber"
                [class.btn-outline-primary]="settings.pageActive != pageNumber"
                >{{pageNumber + 1}}</button>
        </div>
    </div>
  </div>


  <div *ngIf="(viewObs | async) as viewData">
    <div *ngFor="let lowlevelGroupData of viewData" class="mt-5">
      <h2><span class="badge badge-dark">{{lowlevelGroupData.parentGroupname}}</span></h2>
      <materialized-sensor 
      *ngFor="let item of multiOptionsSensors | keyvalue" 
      [hidden]="!sensorsEnabled[item.key]"
      [data]="lowlevelGroupData"
      [sensorId]="item.key"
      [metricsEnabled]="metricsEnabled"></materialized-sensor>
    </div>
  </div>


  <!-- only necessary for implementation multiple routes -->
  <router-outlet></router-outlet>
</div>