<div class="container pt-5">
    <h1>Analysis Descriptions</h1>
    <div *ngIf="(descriptions$ | async) as descriptions">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date Created</th>
            </tr>
            <tr *ngFor="let d of descriptions" [routerLink]="['report', d[0]]" class="cursor-pointer hover-primary">
                <td title="{{d[1]}}">{{d[0]}}</td>
                <td>{{d[2]}}</td>
            </tr>
        </table>
    </div>
</div>